
#al_interface {
  max-height: calc(100vh - 80px);
  position: fixed;
  bottom: 50px;
  left: 62px; 
  display: flex;
  padding: 10px;
  align-items: flex-end;
  transition: opacity 0.5s ease;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#al_side-menu {
  position: fixed;
  bottom: 68px;
  left: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
}
#al_interface.al_hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

#al_controls {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 8px;
}

#al_actors {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  transform: scale(0.75);
  transform-origin: left bottom !important;
}
.actor-container img{
  margin-bottom: 4px;
}
.actor-container.active img{
  outline: 1px solid #00ffff;
  box-shadow: 0 0 10px #00ffff;
  border-radius: 8px;
}


/*foundry default interface*/
#players:not(.expanded) .players-list{
  display: none;
}
textarea:focus {
  color: #ffffff;
}

#al_background-selector{
  position: fixed;
  top: 16px;
  left: 325px;
  z-index: 100;
  width: 180px;
}
  